@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root{
    --color-gris : #85ADA8;
    --color-negro :#000000;
    --color-verde :#44a391;
    --color-background : #ffffff;
}

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;  
}



.horizontal ul li{
    display: inline-flex;
}
    
.menu_der{
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    }


.icon a{
    margin-left: 5px;
}
.icon_der{
    float: right;
    margin-right: 10px;
    
}     



h3 {
    font-family: verdana;
    font-size:15px;
}    

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; 
}
