.index_body {
    background-image: url("/img/emilia-home.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 81%;
}


.menu_in a{
    margin-left : 40px;
    
    }
    
.menu_in li{
    margin-left: 20px;
   
}

.icon_in{
    margin-left : 20px;
}

.h3_in {
    
    margin-top: 60px;
    margin-bottom: 240px;
    margin-left: 40px;
}

.h1_index{
   padding-left: 6px;
   margin-right: 6px; 
   background-color: rgba(255, 255, 255, 0.5);
}